.article{
	clear: left
}
.thumbnail{
	height: 4.5rem;
	width: 130px;
	float: left;
	background-image: url(./../../assets/thumb.png);
	background-color: #eee;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    border: 1px solid #eee;
}
.unstyled-link{
	color: inherit; 
  	text-decoration: none;
}